*, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(200, 182, 182);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(55, 41, 41);
    color: rgb(200, 182, 182);
}

main {
    max-width: 796px;
    margin: auto;
}

nav {
    padding: 12px;
}

nav a {
    text-decoration: none;
    color: rgb(200, 182, 182);
    margin: 4px;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

article {
    width: cal(50% - 16px);
    margin-bottom: 12px;
    padding: 8px;
}

article:first-of-type {
    width: 100%;
}

h2 {
    margin-bottom: 8px;
    text-align: center;
}

img {
    margin: 8px 0;
}

#about-me {
    text-align: center;
    align-items: center;
}

#about-me img {
    max-width: 200px;
}

#work img {
    width: 100%;
    justify-content: center;
    
}

#work div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contact div {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    header{
        flex-direction: column;
    }
}
